*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    resize: none;
}

body {
    color: rgb(17, 17, 17);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

input[type='text'],
input[type='number'],
textarea {
    padding: .8em;
    outline: none;
    background-color: rgb(241, 239, 248);
    box-shadow: inset 0 0 2px 1px rgb(159, 153, 199);
    border-radius: 0.2em;
    width: 100%;
    font-weight: 600;
}



.wrapper {
    max-width: 75%;
    margin: 0 auto;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 15vh;
}

.col {
    width: 31%;
    background-color: rgb(236, 233, 248);
    border-radius: .3em;
    box-shadow: 0 0 2px 1px rgb(153, 168, 199);
    padding: 2.3em 1.5em;
}



.stock__container div+div {
    margin-top: .7em;
}

.block {
    display: flex;
    flex-direction: column;

}

.block label {
    margin-bottom: 0.3em;
}



.custom__order-block div {
    margin-bottom: .8em;
}

.custom__order-block div>div {
    margin-bottom: 0;
}

.custom__choose-container {
    display: flex;
    justify-content: space-between;
}



input[type='number'] {
    background-color: #ffffff;
}

input[type='radio'] {
    cursor: pointer;
}

.custom__choose-container>div>label {
    cursor: pointer;
}



.btn {
    background-color: rgb(222, 215, 243);
    border-radius: .3em;
    box-shadow: 0 0 3px 1.5px rgb(123, 117, 165);
    padding: .8em 1.5em;
    outline: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom__btn-add {
    margin-bottom: 1em;

}

.btn:active {
    box-shadow: inset 0 0 3px 1px rgb(123, 117, 165);
}

.btn:hover {
    background-color: rgb(214, 204, 245);
}

.custom__order {
    height: 120px;
    overflow: auto;
}

.custom__btn-buy {
    margin-top: 0.5em;
}

.check {
    line-height: 1.6;
    text-align: center;
}


.window {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.459);
    border-radius: 0.3em;
    padding: 1em;
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    opacity: 1;
    transition: opacity .5s ease;
}

.window__icon {
    outline: 0;
    border: 0;
    background-color: none;
    cursor: pointer;
}

.window__warning {
    padding: 1.2em 1em;
    width: 100%;
    font-size: 1.1rem;
    color: rgb(56, 56, 56);
}

.window__btn {
    margin: 1em 0 0;
    background-color: rgb(226, 223, 238);
    box-shadow: 0 0 3px 1.5px rgb(123, 117, 165);
}

.window__btn:hover {
    background-color: rgb(207, 200, 228);
}

.hide {
    display: none;
    opacity: 0;
}


@media screen and (max-width: 820px) {

    .wrapper {
        max-width: 80%;
       
    }

    .row {
        align-items: stretch;
        flex-direction: column;
        margin-top: 2vh;
    }

    .col {
        margin: 0 auto;
        width: 90%;
        padding: 2.3em 1.5em;
    }

    .check-content {
        min-height: 300px;
        margin-bottom: 20px;
    }

    .row .col+.col {
        margin-top: 20px;
    }
    .window {
        top: 42vh;
        width: 90%;
    }

}

@media screen and (max-width: 620px){
    .wrapper {
        max-width: 85%;
       
    }
    .col {
        margin: 0 auto;
        width: 100%;
        padding: 2.3em 1.5em;
    }
    .check-content {
       
        margin-bottom: 20px;
    }
    

}